
/***********************************************/
/***********************************************/
/************* GESTION DES COULEURS*************/
/***********************************************/
/***********************************************/


:root {
    color-scheme: light;
    --white-color: rgb(255, 255, 255);
    --black-color: rgb(0, 0, 0);
    --header-color:rgb(225, 190, 165);
    --nav-color: #A5B9B9;
    --hero-color: rgb(225, 190, 165);
    --section1-color: rgb(160, 180, 175);
    --section2-color: rgb(225, 225, 215);
    --section3-color: rgb(135, 150, 145);
    --section4-color: rgb(225, 190, 165);
    --footer-color: rgb(45, 65, 65);
    --strange-color:linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
}


.light {
    --white-color: rgb(255, 255, 255);
    --black-color: rgb(0, 0, 0);
    --header-color:rgb(225, 190, 165);
    --nav-color: rgb(165, 185, 185);
    --hero-color: rgb(225, 190, 165);
    --section1-color: rgb(160, 180, 175);
    --section2-color: rgb(225, 225, 215);
    --section3-color: rgb(135, 150, 145);
    --section4-color: rgb(225, 190, 165);
    --footer-color: rgb(45, 65, 65);
    --strange-color:linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
    --FCFCFC-color: #FCFCFC;
    --D6D7D9-color: #D6D7D9;
    --CECFD1-color: #CECFD1;
    --FEFEFE-color: #FEFEFE;
    --neufx3-color: #999;
    --image-Sect1Div1: url(content/Tranche\ 1.webp);
}

.dark {
    --white-color: rgb(0, 0, 0);
    --black-color: rgb(255, 255, 255);
    --header-color:rgb(6, 6, 77);
    --nav-color:rgb(92, 92, 92);
    --hero-color: rgb(225, 190, 165);
    --section1-color: rgb(160, 180, 175);
    --section2-color: rgb(225, 225, 215);
    --section3-color: rgb(135, 150, 145);
    --section4-color: rgb(225, 190, 165);
    --footer-color: rgb(45, 65, 65);
    --strange-color:linear-gradient(to top, #000000 0%, #414141 80%, #000000 100%);
    --FCFCFC-color: #0e0a0a;
    --D6D7D9-color: #D6D7D9;
    --CECFD1-color: #232323;
    --FEFEFE-color: #FEFEFE;
    --neufx3-color: #999;
    --image-Sect1Div1: url(content/Tranche\ 2.webp);
}